@font-face {
    font-family: 'Cera Pro';
    src:url('fonts/SeraProRegular/CeraPro-Regular.woff2') format('woff2'),
        url('fonts/SeraProRegular/CeraPro-Regular.woff') format('woff'),
       	url('fonts/SeraProRegular/CeraPro-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
  }