<!DOCTYPE html>

{% load static %}
{% load index_extras %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="yandex-verification" content="aa5b4aa227a558da"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="verification" content="ed7a78404d1cc1d50a66755ff8f529"/>
    <link type="text/css" rel="stylesheet" href="{% static 'ollo_mainapp/libs/material/css/materialize.min.css' %}"
          media="screen,projection"/>
    <link href="https://fonts.googleapis.com/css?family=Bebas+Neue|Open+Sans:400,700&display=swap&subset=cyrillic"
          rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="{% static 'ollo_mainapp/css/style.css' %}"/>
    <link type="text/css" rel="stylesheet" href="{% static 'ollo_mainapp/css/header-style.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'ollo_mainapp/libs/fontawesome/css/all.min.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap" rel="stylesheet">
    <title>ollo.gg</title>
    <link type="text/css" rel="stylesheet" href="{% static 'ollo_mainapp/css/loader-style.css' %}"/>
</head>

<body>
<div class="all-with-footer">
    <div class="body">
        <div class="header__main">
            <div class="container__head">

                <div class="header__inner">
                    <!--                    <img src="images/main_logo.png" alt="" class="logo brand-logo" >-->
                    <div class="header-logo" id="headerNavLink">
                        <!--                        <span style="letter-spacing: -2px; font-family: 'Open Sans', sans-serif;">OLLO</span>-->
                        <img src="{% static 'ollo_mainapp/images/main_logo1.png' %}" alt="ollo.gg" style="width: 100%;">
                    </div>

                    <a href="/" class="main__nav__item__mobile">Матчи</a>
                    <a href="{% url 'results' %}" class="main__nav__item__mobile">Результаты</a>

                    <div class="nav" id="nav">
                        <a href="/" class="nav__item">Новости<span class="soon">бета</span></a>
                        <a href="/" class="nav__item">Матчи</a>
                        <a href="{% url 'results' %}" class="nav__item">Результаты</a>
                        <a class="nav__item themeSwitchMob">Сменить тему</a>
                        <a class="nav__item soundVolumeMob" on="true">Выключить звук</a>
                        <a href="{% url 'analytics' %}" class="nav__item">Аналитика<span class="soon">скоро</span></a>
                        <a class="nav__item">Статистика<span class="soon">скоро</span></a>
                        <a class="nav__item">Оценка пиков<span class="soon">скоро</span></a>
                        <div class="ui-control uiControlHide">
                            <i class="material-icons volume" id="themeSwitch">brightness_7</i>
                            <i class="material-icons delim">remove</i>
                            <i class="material-icons volume soundVolume" id="soundVolume" on="true">volume_up</i>
                        </div>

                    </div>
                    <!--                    <label class="switch">-->
                    <!--                        <span class="switch__text">Light</span>-->
                    <!--                        <input type="checkbox" class="browser-default">-->
                    <!--                        <span class="slider"></span>-->
                    <!--                        <span class="switch__text switch__text__dark">Dark</span>-->
                    <!---->
                    <!--                    </label>-->
                    <!--                    <div class="switch tema">-->
                    <!--                        <label>-->
                    <!--                            Light-->
                    <!--                            <input type="checkbox" id="themeSwitch" theme="">-->
                    <!--                            <span class="lever"></span>-->
                    <!--                            Dark-->
                    <!--                        </label>-->
                    <!--                    </div>-->

                    <button class="nav__toggle " id="nav__toggle" type="button">
                        <span class="nav__toggle__item">Menu</span>
                    </button>

                </div>
            </div>
        </div>

        <!-- Навигационная панель-->
        <!--        <nav>-->
        <!--            <div class="nav-wrapper">-->
        <!--                <div class="container remove-cont">-->
        <!--                    <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>-->
        <!--                    <div class="navigation">-->
        <!--                        <a href="#" class="brand-logo hide-on-med-and-down"><img src="images/main_logo.png" alt=""></a>-->
        <!--                        <ul id="nav-mobile" class="nv hide-on-med-and-down">-->
        <!--                            <li><a href="news/?p=1">Новости</a><span class="soon">бета</span></li>-->
        <!--                            <li><a href="#">Матчи</a></li>-->
        <!--                            <li><a href="matches/?p=1">Результаты</a></li>-->
        <!--                            <li><a href="upcoming/">Аналитика</a><span class="soon">скоро</span></li>-->
        <!--                            <li><a href="#">Статистика</a><span class="soon stat">скоро</span></li>-->
        <!--                            <li><a href="#">Оценка пиков</a><span class="soon forum">скоро</span></li>-->
        <!--                        </ul>-->
        <!-- Смена темы -->
        <!-- <a class='dropdown-trigger  hide-on-med-and-down' href='#' data-target='dropdown4'><span>Тема</span><i class="material-icons">arrow_drop_down</i></a> -->
        <!-- Switch -->
        <!--                        <div class="switch tema">-->
        <!--                            <label>-->
        <!--                                Light-->
        <!--                                <input type="checkbox" id="themeSwitch" theme="">-->
        <!--                                <span class="lever"></span>-->
        <!--                                Dark-->
        <!--                            </label>-->
        <!--                        </div>-->
        <!-- Dropdown Structure -->
        <!--                        <ul id='dropdown4' class='dropdown-content'>-->
        <!--                            <li><a href="#!" class="themeSwitch" theme="light">Светлая</a></li>-->
        <!--                            <li><a href="#!" class="themeSwitch" theme="dark">Dark</a></li>-->
        <!--                        </ul>-->
        <!--                    </div>-->
        <!---->
        <!--                </div>-->
        <!--            </div>-->
        <!--        </nav>-->


        <!-- Основной контент -->
        <div class="main-content-matches">
            <div class="container">
                <div class="row">
                    <div class="col m8 l8 s12" style="padding: 0;">
                        <div class="row">
                            <!-- Будущие матчи -->
                            <div class="col m12 l12 s12">
                                <ul class="collection with-header">
                                    <li class="collection-header match-tabs">
                                        <ul class="tabs">
                                            <li class="tab"
                                                style="flex-grow: 0;-webkit-box-flex: 0;-webkit-flex-grow:0;"><a
                                                    class="active" href="#test1">Текущие матчи</a></li>
                                            <li class="tab"
                                                style="flex-grow: 0;-webkit-box-flex: 0;-webkit-flex-grow:0;"><a
                                                    href="#test2">Прошедшие матчи</a></li>
                                        </ul>
                                    </li>

                                    <li class="collection-item">
                                        <div class="normal-view">
                                            <div id="test1">
                                                <div id="liveMatches">
                                                    {% if live_matches %}
                                                        <ul>
                                                            {% for match in live_matches %}
                                                                <li class="collection-item lives"
                                                                    hr="{% url 'live' match.id %}">
                                                                    <a class="live-thumb"
                                                                       href="{% url 'live' match.id %}">
                                                                        <div class="live-tour-in">
                                                                            <h4>{{ match.league }}</h4>
                                                                        </div>
                                                                        <div class="view live-score-view">
                                                                            <div class="live hide-on-small-only">LIVE
                                                                            </div>
                                                                            {#                                                                <i class="material-icons">brightness_1</i>#}
                                                                            <div class="live-name-and-logo">
                                                                                <img src="


                                                                                        {% get_static_prefix %}{{ match.get_first_team_logo }}"
                                                                                     class="picImg ">
                                                                                <h5>{{ match.get_first_team_name }}</h5>
                                                                            </div>
                                                                            <div class="score-view">
                                                                                <div class="live-teams-score">
                                                                                    <h5>{{ match.team1_score }}</h5>
                                                                                    <h5 class="delim-score">:</h5>
                                                                                    <h5>{{ match.team2_score }}</h5>
                                                                                </div>
                                                                            </div>
                                                                            <div class="live-name-and-logo">
                                                                                <h5>{{ match.get_second_team_name }}</h5>
                                                                                <img src="


                                                                                        {% get_static_prefix %}{{ match.get_second_team_logo }}"
                                                                                     class="picImg ">
                                                                            </div>
                                                                        </div>
                                                                    </a>
                                                                </li>
                                                            {% endfor %}
                                                        </ul>
                                                    {% else %}
                                                        <h5 class="no-live" id="noLive">Нет активных матчей...</h5>
                                                    {% endif %}
                                                </div>
                                                <!-- Будущие матчи -->
                                                <h5 class="future-matches-h5">Предстоящие матчи</h5>
                                                <div id="liveMatches">
                                                    {% if upcoming_matches %}
                                                        <ul>
                                                            {% for match in upcoming_matches %}
                                                                {#                                                    <li class="collection-item"><a href="{% url 'match' match.id %}">{{ match }}</a></li>#}
                                                                <li class="collection-item lives"
                                                                    hr="{% url 'match' match.id %}">
                                                                    <a class="live-thumb"
                                                                       href="{% url 'match' match.id %}">
                                                                        <div class="live-tour-in">
                                                                            {% with start_time=match.start_date|get_local_time %}
                                                                                <div class="time-m">{{ start_time.day|zfill:2 }}.{{ start_time.month|zfill:2 }} {{ start_time.hour|zfill:2 }}:{{ start_time.minute|zfill:2 }}</div>
                                                                            {% endwith %}
                                                                        </div>
                                                                        <div class="view live-score-view">
                                                                            <div class="live-name-and-logo">
                                                                                <img src="
                                                                                        {% get_static_prefix %}{{ match.team_set|get_logo:0 }}"
                                                                                     class="picImg ">
                                                                                <h5>{{ match.team_set|get_name:0 }}</h5>
                                                                            </div>
                                                                            <div class="score-view">
                                                                                <div class="live-teams-score">
                                                                                    <h5 class="delim-score">VS</h5>
                                                                                </div>
                                                                            </div>
                                                                            <div class="live-name-and-logo">
                                                                                <h5>{{ match.team_set|get_name:1 }}</h5>
                                                                                <img src="
                                                                                        {% get_static_prefix %}{{ match.team_set|get_logo:1 }}"
                                                                                     class="picImg ">
                                                                            </div>
                                                                        </div>
                                                                    </a>
                                                                </li>
                                                            {% endfor %}
                                                        </ul>
                                                    {% else %}
                                                        <h5 class="no-live">Список предстоящих матчей пуст...</h5>
                                                    {% endif %}
                                                </div>
                                            </div>

                                            <!-- Прошедшие матчи -->
                                            {#                                    <div id="test2">#}
                                            {#                                        <div class="windows8" id="pastMatchesPreloader">#}
                                            {#                                            <div class="wBall" id="wBall_1">#}
                                            {#                                                <div class="wInnerBall"></div>#}
                                            {#                                            </div>#}
                                            {#                                            <div class="wBall" id="wBall_2">#}
                                            {#                                                <div class="wInnerBall"></div>#}
                                            {#                                            </div>#}
                                            {#                                            <div class="wBall" id="wBall_3">#}
                                            {#                                                <div class="wInnerBall"></div>#}
                                            {#                                            </div>#}
                                            {#                                            <div class="wBall" id="wBall_4">#}
                                            {#                                                <div class="wInnerBall"></div>#}
                                            {#                                            </div>#}
                                            {#                                            <div class="wBall" id="wBall_5">#}
                                            {#                                                <div class="wInnerBall"></div>#}
                                            {#                                            </div>#}
                                            {#                                        </div>#}
                                            {#                                        <div id="endedMatches"></div>#}
                                            {#                                    </div>#}

                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <!-- Правый сайтбар -->
                    <div class="col m4 l4 s12">
                        <div class="row">
                            <div class="col m12 l12 s12">
                                <ul class="collection with-header" style="border: none">
                                    <li class="collection-header" style="padding: 8px 10px;border: 1px solid #e0e0e0;">
                                        <h4>Новости</h4>
                                    </li>
                                    <div class="windows8" id="newsPreloader"></div>
                                    <div id="newsList">
                                        {% if news %}
                                            {% for new in news %}
                                                <li class="collection-item">
                                                    <div class="card newsCard" style="overflow: visible;">
                                                        <div class="card-image waves-effect waves-block waves-light activator georgeBustLt"
                                                             style="background-image: url(
                                                                     {% get_static_prefix %}{{ new.thumb_pic }});"></div>
                                                        <div class="card-content">
                                                            <span class="card-title activator grey-text text-darken-4">{{ new.title }}</span>
                                                            <p><a href="{% url 'news' new.id %}" class="news-btn-txt">Перейти
                                                                к статье</a></p>
                                                        </div>
                                                        <div class="card-reveal">
                                                    <span class="card-title grey-text text-darken-4">
                                                        {{ new.title }}
                                                        <i class="material-icons right">close</i>
                                                    </span>
                                                            <p class="card_p">{{ new.title }}</p>
                                                            <p><a href="{% url 'news' new.id %}" class="news-btn-txt">Перейти
                                                                к статье</a></p>
                                                        </div>
                                                    </div>
                                                </li>
                                            {% endfor %}
                                        {% else %}
                                            <h5 class="no-live">No news...</h5>
                                        {% endif %}
                                    </div>
                                </ul>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="main-content-mobile">
            <div class="container">
                <div class="matches">
                    <div class="switcher">
                        <label for="live" class="matches-title live-matches-title active-matches" id="label-1">Текущие
                            матчи</label>
                        <input type="radio" id="live" name="checker" checked/>
                        <label for="past" class="matches-title past-matches-title" id="label-2">Прошедшие матчи</label>
                        <input type="radio" id="past" name="checker"/>
                    </div>
                    <div class="live-matches tab1" id="livesMobi">

                    </div>
                    <div class="past-matches tab2" id="pastMobi">
                        <div class="windows8" id="pastPreloader">
                            <div class="wBall" id="wBall_1">
                                <div class="wInnerBall"></div>
                            </div>
                            <div class="wBall" id="wBall_2">
                                <div class="wInnerBall"></div>
                            </div>
                            <div class="wBall" id="wBall_3">
                                <div class="wInnerBall"></div>
                            </div>
                            <div class="wBall" id="wBall_4">
                                <div class="wInnerBall"></div>
                            </div>
                            <div class="wBall" id="wBall_5">
                                <div class="wInnerBall"></div>
                            </div>
                        </div>
                    </div>

                    <div class="upcoming-matches">
                        <h2 class="matches-title">Предстоящие матчи:</h2>
                        <div class="windows8" id="upcomingMobiPreloader">
                            <div class="wBall" id="wBall_1">
                                <div class="wInnerBall"></div>
                            </div>
                            <div class="wBall" id="wBall_2">
                                <div class="wInnerBall"></div>
                            </div>
                            <div class="wBall" id="wBall_3">
                                <div class="wInnerBall"></div>
                            </div>
                            <div class="wBall" id="wBall_4">
                                <div class="wInnerBall"></div>
                            </div>
                            <div class="wBall" id="wBall_5">
                                <div class="wInnerBall"></div>
                            </div>
                        </div>
                        <span class="upcoming-matches-date" id="dateFirst"></span>
                        <div id="upcomingMobi"></div>
                        <span class="upcoming-matches-date" id="dateTmw"></span>
                        <div id="upcomingMobiTM"></div>
                    </div>


                </div>
            </div>

        </div>
    </div>
    <script>
        var live = document.getElementById('live'),
            past = document.getElementById('past'),
            tab1 = document.querySelector('.tab1'),
            tab2 = document.querySelector('.tab2'),
            input = document.querySelectorAll('input'),
            label_1 = document.getElementById('label-1'),
            label_2 = document.getElementById('label-2');

        for (var i = 0; i < input.length; i++) {
            input[i].onchange = function () {
                if (live.checked) {
                    label_1.classList.add("active-matches");
                    label_2.classList.remove("active-matches");
                    tab1.style.display = 'grid';
                    tab2.style.display = 'none';
                } else if (past.checked) {
                    label_1.classList.remove("active-matches");
                    label_2.classList.add("active-matches");
                    tab1.style.display = 'none';
                    tab2.style.display = 'grid';
                }
            };
        }
    </script>


    <footer>
        <div class="container footer">
            <div class="foot-left">
                <div class="social">
                    <a href="https://vk.com/ollogg"><i class="fab fa-vk footer-icons"></i></a>
                    <!--                <img src="images/Icons/telega.png" alt="">-->
                </div>
                <div class="license">
                    Copyright © OLLO.GG 2019 ALL Rights Reserved
                </div>
                <div class="advance">
                    advancement by maked.me
                </div>
                <hr>
                <div class="license">
                    <a href="mailto:ollo@maked.me">ollo@maked.me</a>
                </div>
            </div>
            <!-- <a href="https://maked.me" target="_blank"><img src="images/footer-logo.png" alt=""></a> -->
        </div>
    </footer>
</div>

<script type="text/javascript" src="{% static 'ollo_mainapp/libs/material/js/materialize.min.js' %}"></script>
<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js"></script>-->
<!--<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/showdown/1.9.0/showdown.min.js"></script>-->
<!--<script src="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js"></script>-->
<script type="text/javascript" src="{% static 'ollo_mainapp/js/functions.js' %}"></script>
<script type="text/javascript">
    Resize();
</script>
<script src="{% static 'ollo_mainapp/libs/sniffer.min.js' %}"></script>
<script src="{% static 'ollo_mainapp/js/logsave.js' %}"></script>
<!--<script src="js/livemap.js"></script>-->
<!--<script src="js/items.js"></script>-->
{#<script type="text/javascript" src="{% static 'ollo_mainapp/js/init.js' %}"></script>#}
{#<script type="text/javascript" src="{% static 'ollo_mainapp/js/purecookie.js' %}"></script>#}
<!--<script type="text/javascript" src="news/js/news.js"></script>-->
<!--<script type="text/javascript" src="js/script.js"></script>-->
<!--<script type="text/javascript" src="js/results.js"></script>-->
<script src="{% static 'ollo_mainapp/js/header.js' %}"></script>
<!--<script src="https://unpkg.com/spacetime"></script>-->
<!--<script type="text/javascript" src="js/view.js"></script>-->
<!--<script type="text/javascript" src="news/js/view_news.js"></script>-->
<!--<script type="text/javascript" src="js/analCharts.js"></script>-->
<script type="text/javascript">
    VK.Widgets.CommunityMessages("vk_community_messages", 187390956, {
        widgetPosition: "left",
        tooltipButtonText: "Есть вопрос?"
    });
</script>
<script src="https://unpkg.com/spacetime"></script>
<script type="text/javascript" src="{% static 'ollo_mainapp/js/script.js' %}"></script>
</body>
</html>
