{% load static %}
{% load index_extras %}
{#{% get_streams match.match_id %}#}

<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <link type="text/css" rel="stylesheet" href="{% static 'ollo_mainapp/libs/material/css/materialize.min.css' %}" media="screen,projection" />
    <link href="https://fonts.googleapis.com/css?family=Bebas+Neue|Open+Sans:400,700&display=swap&subset=cyrillic" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'ollo_mainapp/css/style.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'ollo_mainapp/css/header-style.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'ollo_mainapp/libs/fontawesome/css/all.min.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap" rel="stylesheet">
    <title>ollo.gg</title>
    <link type="text/css" rel="stylesheet" href="{% static 'ollo_mainapp/css/fonts.css' %}" />
    <link type="text/css" rel="stylesheet" href="{% static 'ollo_mainapp/css/live-style.css' %}" />
    <link type="text/css" rel="stylesheet" href="{% static 'ollo_mainapp/css/stream-style.css' %}" />
    <link type="text/css" rel="stylesheet" href="{% static 'ollo_mainapp/css/bans-style.css' %}" />
</head>

<body>

<div class="all-with-footer">
    <div class="body">
        <div class="header__main">
            <div class="container__head">

                <div class="header__inner">
                    <div class="header-logo" id="headerNavLink">
                        <img src="{% static 'ollo_mainapp/images/main_logo1.png' %}" alt="ollo.gg" style="width: 100%;">
                    </div>

                    <a href="/" class="main__nav__item__mobile">Матчи</a>
                    <a href="{% url 'results' %}" class="main__nav__item__mobile">Результаты</a>

                    <div class="nav" id="nav">
                        <a href="/" class="nav__item">Новости<span class="soon">бета</span></a>
                        <a href="/" class="nav__item">Матчи</a>
                        <a href="{% url 'results' %}" class="nav__item">Результаты</a>
                        <a class="nav__item themeSwitchMob">Сменить тему</a>
                        <a class="nav__item soundVolumeMob" on="true">Выключить звук</a>
                        <a href="/" class="nav__item">Аналитика<span class="soon">скоро</span></a>
                        <a class="nav__item">Статистика<span class="soon">скоро</span></a>
                        <a class="nav__item">Оценка пиков<span class="soon">скоро</span></a>
                        <div class="ui-control uiControlHide">
                            <i class="material-icons volume" id="themeSwitch">brightness_7</i>
                            <i class="material-icons delim">remove</i>
                            <i class="material-icons volume soundVolume" id="soundVolume" on="true">volume_up</i>
                        </div>

                    </div>
                    <button class="nav__toggle " id="nav__toggle" type="button">
                        <span class="nav__toggle__item">Menu</span>
                    </button>

                </div>
            </div>
        </div>

<div class="main-content1">
    <div class="container">
        <div class="main-content">
            <div class="main-content-inner">
                <div class="LEFT-BAR">
                    <div class="statistics-bar">
                        <div class="statistics-bar__item">
                            <h2 class="leftbar-title">Статистика</h2>
                            <img src="{% get_static_prefix %}{{ match.get_first_team_logo }}" alt="" class="team-logo-view team1Pic">
                            <h7>{{ match.team_set|get_winrate:0 }}</h7>
                            <img src="{% get_static_prefix %}{{ match.get_second_team_logo }}" alt="" class="team-logo-view team2Pic">
                            <h7>{{ match.team_set|get_winrate:1 }}</h7>
{#                            <canvas id="myStas" class="chart bar_chart"></canvas>#}

                        </div>
                        <div class="statistics-bar__item">
                            <h2 class="leftbar-title">Кол-во win/lose</h2>
                            <div class="stat-info">

                                <div class="stat-bar-team">
                                    <img src="{% get_static_prefix %}{{ match.get_first_team_logo }}" alt="" class="team-logo-view team1Pic">
                                    <span class="rate win_rate pastScoreWinTeam1">{{ match.team_set|get_win:0 }}</span>
                                    <span class="rate lose_rate pastScoreLoseTeam1">{{ match.team_set|get_lose:0 }}</span>
                                </div>

                                <div class="stat-bar-team">
                                    <img src="{% get_static_prefix %}{{ match.get_second_team_logo }}" alt="" class="team-logo-view team2Pic">
                                    <span class="rate win_rate pastScoreWinTeam2">{{ match.team_set|get_win:1 }}</span>
                                    <span class="rate lose_rate pastScoreLoseTeam2">{{ match.team_set|get_lose:1 }}</span>
                                </div>
                            </div>
                        </div>
                        <div class="statistics-bar__item">
                            <h2 class="leftbar-title">Рейтинг команд</h2>
                            <img src="{% get_static_prefix %}{{ match.get_first_team_logo }}" alt="" class="team-logo-view team1Pic">
                            <h7>{{ match.team_set|get_elo:0 }}</h7>
                            <img src="{% get_static_prefix %}{{ match.get_second_team_logo }}" alt="" class="team-logo-view team2Pic">
                            <h7>{{ match.team_set|get_elo:1 }}</h7>
{#                            <canvas id="myRating" class="chart pie_chart chartjs-render-monitor" width="240" height="120" style="display: block;"></canvas>#}
                        </div>
                    </div>
                    <div class="streams">
                        <h2 class="leftbar-title">Трансляции:</h2>
                        <div id="streamsList">
                            {% with stream_list=match.match_id|get_streams %}
                                {% if stream_list %}
                                    <ul>
                                        {% for stream in stream_list %}
                                            <li>{{ stream }}</li>
                                        {% endfor %}
                                    </ul>
                                {% else %}
                                    <span class="no-streems">Список трансляций пуст...</span>
                                {% endif %}
                            {% endwith %}
                        </div>
                    </div>
                    <div class="news">
                        <h2 class="leftbar-title">Новости</h2>
                        <div id="lastNews">
                        {% if news %}
                            {% for new in news %}
                                <a href="{% url 'news' new.id %}" class="news-item news-item-light-dark">
                                    <span class="news-text">OG Seed сыграет с Team Singularity в полуфинале Maincast Winter Brawl</span>
                                    <div class="news-bg" style="background-image: url({% get_static_prefix %}{{ new.thumb_pic }});"></div>
                                </a>
                            {% endfor %}
                        {% else %}
                            <span class="no-streems">Новостей пока нет...</span>
                        {% endif %}
                        </div>
                    </div>
                </div>
                <div class="CENTER">
                    <div class="main-block">
                        <h3 class="main-block-title" id="bookMaker">{{ match.event }}</h3>
                        <div class="score">
                            <div class="score-inner">
                                <div class="score-item">
                                    <a href="/">{{ match.team_set.all.0.name }}</a>
                                    <img src="{{ match.team_set.all.0.logo }}" alt="" class="team-logo_big_big team1Pic">
                                    <span id="team1Score" class="score-number"></span>
                                </div>
                                <div class="score-item score-item_2">
                                    <span class="match-info match-info_type" id="bestOf">{{ match.best_of }}</span>
                                    <span class="match-info match-info_date" id="startMatch">LIVE</span>
                                </div>
                                <div class="score-item ">
                                    <span id="team2Score" class="score-number"></span>
                                    <img src="{% get_static_prefix %}{{ match.get_second_team_logo }}" alt="" class="team-logo_big_big team2Pic">
{#                                    <span class="team-name team2Name">{{ match.get_second_team_name }}</span>#}
                                    <a href="{% url 'team' match.team_set.all.1.team_id %}">{{ match.get_second_team_name }}</a>
                                </div>
                                {% if match.radiant_lead > 0 %}
                                <div class="nw nw-left">
                                {% elif match.radiant_lead < 0 %}
                                <div class="nw nw-right">
                                {% endif %}
                                        <span>
                                            Преимущество
                                            <i class="fas fa-arrow-up" style="margin-right: 5px"></i>
                                            <span style="display: flex; align-items: center; margin-left: 20px;">
                                                <i class="material-icons">show_chart</i>
                                                {{ match.radiant_lead|cut:"-" }}
                                            </span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        <canvas id="myChart" class="chart main_chart chartjs-render-monitor" style="display: block;"></canvas>
                        </div>
                    <div class="main-stream" id="mainStream">
                        <div class="accordion" id="accordionStream">
                            <h2 class="accordion-block-title">Текущая трансляция</h2>
                            <i id="trans-arrow" class="material-icons">arrow_drop_down</i>
                        </div>
                        <div class="panel" id="panel">
                            <div id="streamCur">
                                <iframe id="player" type="text/html" frameborder="0" src="about:blank" scrolling="no" allowfullscreen="true" style="width: 100%; height: 320px;"></iframe>
                            </div>
                        </div>
                    </div>
                    <div class="players">
                        <span class="first-blood"></span>
                        <div class="players-inner">
                            <img src="{% get_static_prefix %}{{ match.team_set|get_logo:0 }}" alt="" class="team1-logo-players team1Pic">
                            <img src="{% get_static_prefix %}{{ match.team_set|get_logo:1 }}" alt="" class="team2-logo-players team2Pic">
                            <div class="team-1" id="team1Heroes">
                                {% for player in match|get_live_players:0 %}
                                    <div class="players-item" style="height: 190px">
                                        <div class="player-info">
                                            <div class="info-title">
                                                <span class="player-nick">{{ player.nickname }}</span>
                                            </div>
                                            <div class="player-hero player-hero_team2">
                                                <img src="{% get_hero_logo player.hero_id %}">
                                                {% for item in player|get_player_items %}
                                                    <img src="{% get_item_logo item %}" class="hero-item">
                                                {% endfor %}
                                            </div>
                                            <div class="player-statistics">
                                                <div class="statistics-item">
                                                    <img src="{% static 'ollo_mainapp/images/util/sword.png' %}" class="iconDark" alt="">
                                                    <span class="kills-number">{{ player.kills }}</span>
                                                </div>
                                                <div class="statistics-item">
                                                    <img src="{% static 'ollo_mainapp/images/util/skull.png' %}" class="iconDark" alt="">
                                                    <span class="death-number">{{ player.deaths }}</span>
                                                </div>
                                                <div class="statistics-item">
                                                    <img src="{% static 'ollo_mainapp/images/util/line-chart.png' %}" class="iconDark" alt="">
                                                    <span class="chart-number">{{ player.nw }}</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                            <div class="delimiter"></div>
                            <div class="team-2" id="team2Heroes">
                                {% for player in match|get_live_players:1 %}
                                    <div class="players-item" style="height: 190px">
                                        <div class="player-info player-info_team2">
                                            <div class="info-title info-title-team2">
                                                <span class="player-nick">{{ player.nickname }}</span>
                                            </div>
                                            <div class="player-hero player-hero_team2">
                                                <img src="{% get_hero_logo player.hero_id %}">
                                                {% for item in player|get_player_items %}
                                                    <img src="{% get_item_logo item %}" class="hero-item">
                                                {% endfor %}
                                            </div>
                                            <div class="player-statistics player-statistics_team2">
                                                <div class="statistics-item">
                                                    <img src="{% static 'ollo_mainapp/images/util/sword.png' %}" class="iconDark" alt="">
                                                    <span class="kills-number">{{ player.kills }}</span>
                                                </div>
                                                <div class="statistics-item">
                                                    <img src="{% static 'ollo_mainapp/images/util/skull.png' %}" class="iconDark" alt="">
                                                    <span class="death-number">{{ player.deaths }}</span>
                                                </div>
                                                <div class="statistics-item">
                                                    <img src="{% static 'ollo_mainapp/images/util/line-chart.png' %}" class="iconDark" alt="">
                                                    <span class="chart-number">{{ player.nw }}</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    <a class="btn btn-default" href="{% url 'add_comment' match.id %}">Add comment</a>
                    {% for comment in match.comments.all %}
                        <div class="comment">
                            <div class="date">{{ comment.created_date }}</div>
                            <strong>{{ comment.author }}</strong>
                            <p>{{ comment.text|linebreaks }}</p>
                        </div>
                    {% empty %}
                        <p>No comments here yet :(</p>
                    {% endfor %}
                </div>
                <div class="RIGHT-BAR">
                    <div class="right-bar">
                        <canvas id="map" class="map" height="1610" width="1600"></canvas>
                        <div class="map-info">
                            <div class="map-info__item">
                                <img src="{% get_static_prefix %}{{ match.team_set|get_logo:0 }}" alt="" class="team-logo_big_big team1Pic">
                                <span class="map-info-text">Башни:</span>
                                <div class="info-number team1Towers">{% get_towers_left match.building_state 'radiant' %}</div>
                                <span class="map-info-text">Лагеря:</span>
                                <div class="info-number info-number-camps team1Barracks">{% get_barracks_left match.team1_barracks %}</div>
                            </div>
                            <div class="map-info__item">
                                <img src="{% get_static_prefix %}{{ match.team_set|get_logo:1 }}" alt="" class="team-logo_big_big team2Pic">
                                <span class="map-info-text">Башни:</span>
                                <div class="info-number team2Towers">{% get_towers_left match.building_state 'dire' %}</div>
                                <span class="map-info-text">Лагеря:</span>
                                <div class="info-number info-number-camps team2Barracks">{% get_barracks_left match.team2_barracks %}</div>
                            </div>
                        </div>
                        <div class="bans">
                            <h2 class="bans-title">Баны</h2>
                            <div class="bans-item">
                                <div class="team-name bans-item-title team1Name">{{ match.team_set|get_name:0 }}</div>
                                <div id="bansTeam1">
                                    {% for ban in match|get_bans:0 %}
                                        <div class="ban-img">
                                            <div class="hero-ban-img"
                                                 style="background-image: url({% get_hero_logo ban %});"></div>
                                            <span class="ban-text">Ban {{ forloop.counter }}</span>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                            <div class="bans-item ">
                                <div class="team-name  bans-item-title team2Name">{{ match.team_set|get_name:1 }}</div>
                                <div id="bansTeam2">
                                    {% for ban in match|get_bans:1 %}
                                        <div class="ban-img">
                                            <div class="hero-ban-img"
                                                 style="background-image: url({% get_hero_logo ban %});"></div>
                                            <span class="ban-text">Ban {{ forloop.counter }}</span>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="advertising">
                        <div class="banner">
                            <a href="https://betwinner.com/ru/" class="banner-link">
                                <img src="{% static 'ollo_mainapp/images/gif_promo.gif' %}" alt=""
                                     class="banner-img mdsix advertising-img baner-img-desktop">
                            </a>
                        </div>
                        <a href='https://betwinner.com' target="_blank">
                            <button class="btn waves-effect waves-light bet-btn" type="button"
                                    name="action">Сделать ставку
                                <i class="material-icons">attach_money</i>
                            </button>
                        </a>
                    </div>
                </div>
            </div>
        </div>


    </div>
</div>
</div>


<footer>
    <div class="container footer">
        <div class="foot-left">
            <div class="social">
                <a href="https://vk.com/ollogg" ><i class="fab fa-vk footer-icons"></i></a>
<!--                <img src="images/Icons/telega.png" alt="">-->
            </div>
            <div class="license">
                Copyright © OLLO.GG 2019 ALL Rights Reserved
            </div>
            <div class="advance">
                advancement by maked.me
            </div>
            <hr>
            <div class="license">
                <a href="mailto:ollo@maked.me">ollo@maked.me</a>
            </div>
        </div>
    </div>
</footer>
</div>
<script type="text/javascript" src="{% static 'ollo_mainapp/libs/material/js/materialize.min.js' %}"></script>
{#<script type="text/javascript" src="{% static 'ollo_mainapp/js/functions.js' %}"></script>#}
<script type="text/javascript">
    Resize();
</script>
<script>
    var matchId = "{{ match.match_id|escapejs }}";

    var matchSocket = new WebSocket(
        'ws://' + window.location.host +
        '/cs/ws/matches/' + matchId + '/');

    matchSocket.onmessage = function(e) {
        var data = JSON.parse(e.data);
        var message = data['message'];
        console.log("gg wp" + message);
        document.querySelector('.first-blood').value += (message + '\n');
    };

    matchSocket.onclose = function(e) {
        console.error('Match socket closed.');
    };

    document.querySelector('#chat-message-input').focus();
    document.querySelector('#chat-message-input').onkeyup = function(e) {
        if (e.keyCode === 13) {  // enter, return
            document.querySelector('#chat-message-submit').click();
        }
    };

    {#document.querySelector('#chat-message-submit').onclick = function(e) {#}
    {#    var messageInputDom = document.querySelector('#chat-message-input');#}
    {#    var message = messageInputDom.value;#}
    {#    chatSocket.send(JSON.stringify({#}
    {#        'message': message#}
    {#    }));#}
    {##}
    {#    messageInputDom.value = '';#}
    {#};#}
</script>
</div>
</body>
</html>
